.file {
  background-color: white;
  font-size: 70px;
  // text-align: center;
  border: 2px solid grey;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  // padding: 0 20px;
  .file-icon {
    // max-width: 20%;
    // margin: 10 auto;
  }
}
