.create-form {
    width: 300px;
    color: $font-grey;
}

.form-header {
    background-color: $background-grey;
    text-align: center;
    color: $font-grey;
    padding: 8px;
    a {
        display: block;
        float: right;
        color: $font-grey;
    }
    h2 {
        margin: 0 0 10px 0;
        font-weight: bold;
    }
}

.form-body {
    padding: 20px 30px;
    background-color: white;
}

.form-footer {
    background-color: $background-grey;
    text-align: center;
    padding: 20px 30px;
    button {
        width: 100%;
        background-color: $blue4;
        color: white;
        &:hover {
          color: white;
        }
        &:focus {
          color: white;
        }

    }

}

#paycheck_form {
    .inputfile {
        margin-bottom: 20px;
        margin-left: 16px;
    }
}


//modal override
// https://codepen.io/dimbslmh/full/mKfCc
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
