<div id="header">
  <%- include('forms/profileForm') %>
  <div class="row">
    <div id="top-navigation" class="clearfix">
      <form class="col-xs-6 col-sm-offset-1 col-sm-6 col-md-offset-2 col-md-7">
        <input type="search" placeholder="Search">
      </form>
      <div class="col-xs-6 col-sm-5 col-md-3">
        <div id="top-icons" class="pull-right">
          <a class="dropdown-toggle" data-toggle="dropdown"><span class=" glyphicon glyphicon-bell"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">You've got something new</a></li>
          </ul>
          <div style="display: inline-block;">
            <a class="dropdown-toggle" data-toggle="dropdown"><span class=" glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu pull-right">
              <li><a href="#profileForm" data-toggle="modal" >Change asociate's info</a></li>

              <li><a href="#">Delete profile</a></li>
            </ul>
          </div>

          <a href="#"><span class=" glyphicon glyphicon-log-out"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
