<div id="functionModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <form class="create-form">
        <div class="form-header">
          <div class="clearfix">
            <a href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          </div>

          <h2>New Function</h2>
        </div>
        <div class="form-body">
          <div class="form-group">
            <label>Function</label>
            <input type="text" class="form-control">
          </div>
          <!--            https://formden.com/blog/date-picker-->
          <div class="form-group">
            <label for="exampleInputFile">Date started</label>
            <input class="form-control" id="date" name="date1" type="text" />
            <script>
              $(document).ready(function() {
                var date_input = $('input[name="date1"]'); //our date input has the name "date"
                var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                var options = {
                  format: 'dd/mm/yyyy',
                  container: container,
                  todayHighlight: true,
                  autoclose: true,
                };
                date_input.datepicker(options);
              })
            </script>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Date finished</label>
            <input class="form-control" id="date" name="date2" type="text" />
            <script>
              $(document).ready(function() {
                var date_input = $('input[name="date2"]'); //our date input has the name "date"
                var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                var options = {
                  format: 'dd/mm/yyyy',
                  container: container,
                  todayHighlight: true,
                  autoclose: true,
                };
                date_input.datepicker(options);
              })
            </script>
          </div>
        </div>

        <div class="form-footer">
          <button type="submit" class="btn form-button">Create</button>
        </div>
      </form>


    </div>
  </div>
</div>
