<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <form class="create-form">
        <div class="form-header">
          <div class="clearfix">
            <a href="#" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
          </div>

          <h2>Create News</h2>
        </div>
        <div class="form-body">
          <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="form-footer">
          <button type="submit" action="#" class="btn form-button">Create</button>
        </div>
      </form>

    </div>
  </div>
</div>
