<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>B&amp;S</title>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">


</head>

<body class="full-page-image">
    <div>
        <div class="container">
            <h1 class="brand-name">B&amp;S</h1>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8">
                <form class="form-horizontal" >
                    <div class="form-group">

                        <img id="user-logo" class="center-block" src="assets/images/icon-user-default.png" alt="user logo" />
                        <div class="form-hiddable">


                          <div class="blue-form">
                              <input id="username" class="form-control" type="text" autofocus  for="username" placeholder="Username">
                              <input id="password" class="form-control" type="password"  for="password"  placeholder="Password">
                          </div>
  <!--                        <label class="blue-text"><input type="checkbox" class value="">Remember password</label>-->
                          <label class="control control--checkbox blue-text top-label">Remember password
                            <input type="checkbox" checked="checked"/>
                            <div class="control__indicator"></div>
                          </label>
                          <a href="#" class="blue-text center-block text-center">I forgot my password</a>
                          <button id="sign-in-button" action="#" type="submit" class="btn pink-btn  center-block">Sign In</button>
                        </div>

                        <div class="form-hiddable hidden">
                          <input id="email-confirmation" class="form-control" type="text"  for="username" placeholder="Confirmation Code">
                          <a href="#" class="blue-text center-block text-center">Send again</a>
                          <button action="#" type="submit" class="btn pink-btn  center-block">Confirm</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="assets/js/login.js"></script>

</body>

</html>
