<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>B&amp;S</title>

  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/main.css">

  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />


</head>

<body>
  <div id="wrapper" class="active">

    <%- include('partials/sidebar') %>

      <!-- Page content -->
      <div class="container-fluid">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content">
          <%- include('partials/header') %>


            <div id="categories">
              <a class="category" href="/personal_contract">Contract</a>
              <a class="category" href="/personal_function">Function Details</a>
              <a class="category" href="/personal_declarations">Declarations</a>
            </div>

            <%- include('partials/forms/functionForm') %>

              <div id="main-content" class="row">


                <div id="personal-contract">
                  <div class="row">
                    <button type="button" class="new-button table-control pull-right" data-toggle="modal" data-target="#functionModal">+ New Function</button>
                  </div>

                  <div class="row">
                    <table class="data-table">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Function</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td>01/01/15 (AP)</td>
                          <td class="td-blue-text">Junior Financial Accountant</td>
                        </tr>
                        <tr>
                          <td>01/01/15 (AP)</td>
                          <td class="td-blue-text">Junior Financial Accountant</td>
                        </tr>
                        <tr>
                          <td>01/01/15 (AP)</td>
                          <td class="td-blue-text">Junior Financial Accountant</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
      </div>
  </div>

  <script src="assets/js/sidebar.js"></script>
</body>

</html>
