@import "partials/constants";

@import "components/sidebar";
@import "components/login";
@import "components/top_navigation";
@import "components/feed";
@import "components/personal_contract";
@import "components/data_table";
@import "components/categories";
@import "components/form";

.padding-0 {
    padding-left: 0;
    padding-right: 0;
}

#content-heading {
  margin: 15px 0;
  p {
    font-size: 20px;
    margin-bottom: 0;
  }
}

.new-button {
    background: $blue4;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}
