<div class="folder">
  <div class="row">
    <div class="col-md-2">
      <span class="folder-icon glyphicon glyphicon-folder-open"></span>
    </div>
    <div class="col-md-8">
      <div class="folder-body">
        <p class="folder-title">Conditions</p>
        <span class="glyphicon glyphicon-time pull-left"></span>
        <p class="folder-updated-time">&nbsp;2 days ago</p>
      </div>
    </div>
    <div class="col-md-2">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="/folder/rename">Rename</a>
          <a href="/folder/download">Download</a>
          <a href="/folder/delete">Delete</a>
        </li>
      </ul>
    </div>


  </div>

</div>
